main {
	margin: 1% 12% 0% 12%;
}
.aigrid {
	display: grid;
	grid-template-areas: "col1 col2";
	grid-template-areas: 1fr 1fr;
}
.aiheader {
	font-family: "Audiowide", sans-serif;
	font-size: 50px;
	margin: 20px 0px;
	text-transform: uppercase;
	color: #13152b;
}
.subheader {
	font-family: "OpenSansBold", sans-serif;
	font-size: 30px;
	margin: 10px 0px 0px 0px;
	text-transform: uppercase;
	color: #13152b;
}
.subtext {
	font-family: "OpenSansReg", sans-serif;
	font-size: 20px;
	line-height: 2;
	color: #13152b;
	max-width: 70%;
}
.textgrid {
	grid-area: col1;
}
.imagegrid {
	grid-area: col2;
	margin: 20px auto;
	width: 100%;
}
.imagegrid img {
	border-radius: 200px;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
@media only screen and (max-width: 796px) {
	main {
		margin: 15px;
	}
}
@media only screen and (max-width: 1425px) {
	.subtext {
		line-height: normal;
	}
}
@media only screen and (max-width: 1225px) {
	main {
		margin: 30px;
	}
	@media only screen and (max-width: 1140px) {
		.imagegrid {
			display: none;
		}
		.subtext {
			max-width: 60%;
		}
	}
	@media only screen and (max-width: 540px) {
		.subtext {
			max-width: 88%;
		}
	}
}
