main {
	margin: 1% 12% 2% 12%;
	display: grid;
	grid-template-areas: "1 2";
	grid-template-columns: 1fr 1fr;
	grid-gap: 50px;
}
.total {
	font-family: "OpenSansBold", sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	margin-left: 140px;
}
h4 {
	color: #13152b;
	font-size: 50px;
	text-transform: uppercase;
	font-family: "OpenSansBold", sans-serif;
	margin: 30px 0px 0px 0px;
}
h5 {
	font-family: "OpenSansBold", sans-serif;
	font-size: 35px;
	margin: 70px 0px 0px 0px;
	color: #13152b;
}
.breakliner {
	border-width: 0px 0px 4px 0px;
	border-style: solid;
	width: 90%;
	display: flex;
	color: #2b98f0;
}
.content {
	grid-area: 1;
}
.pricelist {
	position: relative;
}
.subtext {
	font-family: "OpenSansReg", sans-serif;
	font-size: 20px;
	color: #000;
	max-width: 80%;
}
.pricelist ul {
	padding: 0px;
	display: inline;
	color: #000;
}
.pricelist li {
	font-family: "OpenSansReg", sans-serif;
	list-style: none;
	padding: 15px 0px;
	font-size: 20px;
	display: flex;
}
.image {
	text-align: center;
}
.image img {
	margin: 30px auto;
	border-radius: 300px;
	width: 75%;
	height: auto;
	max-height: 80%;
}
.ticketbox {
	padding: 8px 0px;
	text-align: center;
	width: 45px;
	border-style: solid;
	border-radius: 20px;
	display: inline;
	border-width: 1.5px;
	border-color: #707070;
	background-color: white;
	position: absolute;
	left: 250px;
}
.box {
	background-color: #2b98f0;
	color: #000;
	border-radius: 20px;
	text-transform: uppercase;
	font-family: "OpenSansReg", sans-serif;
	font-weight: 600;
	display: inline-block;
	padding: 10px 15px;
	font-size: 20px;
	margin-left: 130px;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}
.box:hover {
	background-color: #005694;
}
@media only screen and (max-width: 980px) {
	.image {
		display: none;
	}
	.subtext {
		max-width: 70%;
	}
	main {
		display: flex;
		margin: 10px;
	}
}
